*{
	box-sizing: border-box;
	size: 24px;
	font-family: arial sans-serif robot;
}


span {
	clear: both;
	border: 1px solid black;
	position: relative;
	position: top right;
	margin-top: -5px;
	margin-right: -5px;
}

section{
	margin-bottom: 5px;
	background-color: orange;
	padding: 4px;
	border: 1px solid black;
	float: left;
	box-sizing: border-box;
	position: relative;
	font-size: 1.25em;
}

body{
	position: relative;
}

div{
	width: 100%;
	position: center;
}

p{
	clear: right;
}

h1{
	font-size: 1.75em;
	position: center;
	text-align: center;
	font-weight: 100;
	font-family: "arial black",Gadget,sans-serif;
}

.topBlock{
	width: 30%;
	text-align: center;
	font-size: 1.5em;
}
.redColor{
	background-color: red;
	float: right;
	color: white;
}

.greenColor{
	background-color: green;
	float: right;
	color: white;
}

.blueColor{
	background-color: blue;
	float: right;
	color: white;
}

.color1{
	background-color: #0ff8ff;
}

.color2{
	background-color: #faebd7;
}

.color3{
	background-color: #add8e6;
}


@media (min-width: 992px) {  /*for desktop*/
			.col-lg-4{
				width: 33%;
				margin-right: 0.25%;
				margin-top: 10px;
			}
		}

@media (min-width: 768px) and (max-width: 991px) {   /*for tablet*/
			.col-md-6{
				width: 49%;
				margin-right: 1%;
				margin-top: 5px;
			}

			.col-md-12{
				width: 99%;
				margin-right: 1%;
			}
		}

@media (max-width: 767px) {  /*for mobile*/
			.col-sm-12{
				width: 100%;
				margin-top: 5px;
			}
		}
